@model IEnumerable<Forum_dyskusyjne.Models.Category>

@{
    ViewBag.Title = "Home Page";
}


<div class="panel-group" id="accordion">

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading title-bar">
                <table>
                    <tr>
                        <td class="col-sm-10 col-xs-7">
                            <b>@item.Name</b><br />
                        </td>
                        <td class="col-sm-2 col-xs-5">
                        </td>

                    </tr>
                </table>
            </div>

            <div class="panel-body" style="padding-bottom: 0px; padding-top: 0px;">
                @foreach (var forum in item.Forums)
                {
                    <table>
                        <tr>
                            <td class="col-sm-10 col.xs-7">
                                @Html.ActionLink(forum.Name, "Index", "Forums")
                            </td>
                        </tr>
                    </table>
                }
            </div>

        </div>
    }
</div>